<!DOCTYPE html>
<html>
	<% var subtitle = "Leaderboard" %>
	<% include ../parts/head %>
	<!-- Start content -->

	<%
		let guild = client.guilds.get(id);

		let data = client.db.points.filter({guild: id});
			.sort((a, b) => b.points - a.points)
			.reduce((acc, current) => {
				const x = acc.find(item => item.id === current.id);
				if (!x) {
					return acc.concat([current]);
				} else {
					return acc;
				}
			}, []);

		let columns = 4;
		let colValue = ~~(12 / columns);
		let member;
    %>

	<div class="container grid-member-container" style="margin-top: 20px;">
		<div class="row">
			<% let i = 1; %>
			<% for (const row of data) { %>
				<div class="col-md-<%=colValue%>" style="margin-bottom: 20px;">
					<% if (!guild.members.has(row.member)) continue; %>
					<% member = guild.members.get(row.member) %>
					<table class="table table-bordered table-striped" style="margin: auto; padding: 20px;">
						<tr><th>
							<img src="<%= member.user.displayAvatarURL({size: 256}) %>" class="commandIcon" />
							<%= i %>. <%= member.displayName %><span class="font-weight-light">#<%= member.user.discriminator %></span>
						</th></tr>
						<tr><td>
							<b>Points:</b> <%= row.points %><br>
							<b>Level:</b> <%= row.level %>
						</td></tr>
					</table>
				</div>
				<% i++; %>
			<% } %>
		</div>
	</div>

	<!-- End content -->
	<% include ../parts/footer %>
</html>