<!DOCTYPE html>
<html>
  <% var subtitle = "Home" %>
  <% include ../parts/head %>
  <!-- Start content -->

  <% if (!!id) { %>
    <%
      var guild = client.guilds.get(id)
    %>

    <% 
      var arr = client.db.points.data.filter(p => p.guild === id);
      var filtered = [];
      for (let user of arr) {
        if (!filtered.map(e => e.member).includes(user.member)) filtered.push(user);
      }
      var top = filtered.sort((a, b) => b.points - a.points);
    %>

    <%
      var columns = 4;
      var colValue = ~~(12 / columns);
    %>

    <div class="container grid-member-container">
      <div class="row">
        <% let i = 1; %>
        <% for (const leader of top) { %>
          <div class="col-md-<%=colValue%>" style="margin-bottom: 20px;">
            <% if(!guild.members.has(leader.member)) continue; %>
            <% var user = guild.members.get(leader.member) %> <!-- looks like this unique line of code had messed up the entire leaderboard -->
            <table class="table table-bordered table-striped" style="margin: auto; padding: 20px;">
              <tr><th><img src="<%= user.user.displayAvatarURL({size: 256, format:"png"}) %>" style="max-width:20px;max-height:20px;border-radius:50%;" /> <%= i %>. <%= user.displayName %><span class="font-weight-light">#<%= user.user.discriminator %></span></th></tr>
              <tr><td><b>Points:</b> <%= leader.points %><br><b>Level:</b> <%= leader.level %></td></tr>
            </table>
          </div>
          <% i++; %>
        <% } %>
      </div>
    </div>
  
  <% } else { %> <!-- if id's else -->
    <div class="container">
      <% const data = getParams(url.split("?")[1]) %>
      <% if (data.userID) { %> <!-- if user id provided -->
        <% const user = client.users.get(data.userID); %>
        <% if (user) { %> <!-- if user in bot's server -->
          Hey, <%= user.username %>!<br>
          <% user.client.guilds.forEach(guild => { %>
            <a href="/leaderboard/<%= guild.id %>">Leaderboard for <%= guild.name %></a><br>
          <% }) %>
        <% } else { %> <!-- if user in bot's server's else -->
          You are not in any of my servers.
        <% } %>
      <% } else { %> <!-- if user id provided's else -->
        <a href="/api/discord/login">Login through Discord</a>
      <% } %>
    </div>
  <% } %>

  <!-- End content -->
  <% include ../parts/footer %>
</html>