<head>
	<title><%= subtitle ? `${subtitle} - ${client.user.username}` : `${client.user.username}` %></title>
	<meta name="og:title" content="<%= subtitle ? `${subtitle} - ${client.user.username}` : `${client.user.username}` %>" />
	<meta property="og:title" content="<%= subtitle ? `${subtitle} - ${client.user.username}` : `${client.user.username}` %>" />
	<meta name="twitter:title" content="<%= subtitle ? `${subtitle} - ${client.user.username}` : `${client.user.username}` %>" />

	<meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, shrink-to-fit=no, user-scalable=yes">

	<meta name="keywords" content="Yamamura, Discord, Bot, Bots, Discord Bot, Discord Bots" />
	<meta name="description" content="Yamamura is an all-in-one Discord bot dedicated to helping modding communities and more. It can fulfill your server's moderation needs and create fun events for your community to enjoy" />
	<meta name="og:description" content="Yamamura is an all-in-one Discord bot dedicated to helping modding communities and more. It can fulfill your server's moderation needs and create fun events for your community to enjoy" />
	<meta property="og:description" content="Yamamura is an all-in-one Discord bot dedicated to helping modding communities and more. It can fulfill your server's moderation needs and create fun events for your community to enjoy" />
	<meta name="twitter:description" content="Yamamura is an all-in-one Discord bot dedicated to helping modding communities and more. It can fulfill your server's moderation needs and create fun events for your community to enjoy" />

	<link rel="icon" href="<%= client.user.displayAvatarURL({size: 256}) %>" type="image/png" />
	<link rel="shortcut icon" href="<%= client.user.displayAvatarURL({size: 256}) %>" type="image/png" />
	<link rel="apple-touch-icon" sizes="256x256" href="<%= client.user.displayAvatarURL({size: 256}) %>" type="image/png" />
	<meta name="og:image" content="<%= client.user.displayAvatarURL({size: 256}) %>" type="image/png" />
	<meta property="og:image" href="<%= client.user.displayAvatarURL({size: 256}) %>" type="image/png" />
	<meta name="twitter:image" href="<%= client.user.displayAvatarURL({size: 256}) %>" type="image/png" />

	<meta name="theme-color" content="#7289DA" />
	<meta name="msapplication-navbutton-color" content="#7289DA">
	<meta name="twitter:widgets:link-color" content="#7289DA">
	<meta name="twitter:widgets:border-color" content="#7289DA">

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="HandheldFriendly" content="true">

	<link rel="canonical" href="<%= client.website.URL %>" />
	<meta name="og:url" content="<%= client.website.URL %>" />
	<meta property="og:url" content="<%= client.website.URL %>" />

	<meta name="og:site_name" content="<%= client.user.username %>" />
	<meta property="og:site_name" content="<%= client.user.username %>" />

	<meta name="og:type" content="website" />
	<meta property="og:type" content="website" />
	<meta name="twitter:card" content="summary" />

	<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/bootstrap.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/mdbootstrap.css">
	<link rel="stylesheet" href="/common.css">
	<link rel="stylesheet" href="/dark.css" id="darkmode" crossorigin="anonymous">

	<link rel="stylesheet" href="https://rawcdn.githack.com/ellekasai/twemoji-awesome/gh-pages/twemoji-awesome.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css" integrity="sha256-gsmEoJAws/Kd3CjuOQzLie5Q3yshhvmo7YNtBG7aaEY=" crossorigin="anonymous">

	<script src="//twemoji.maxcdn.com/2/twemoji.min.js?11.2"></script>
	<% include ./headscripts %>
</head>
<body>
	<% include ./nav %>